/* здесь используйте глобальные переменные */
$base-color-text:#444444;
$base-color-description-text:#222222;
$basic-green:#68b738;
$basic-green-2:#5eaa2f;
$tablet-width: 768px;
$desktop-width: 1280px;
$basic-grey:#f2f2f2;
$mobile-width-only: 767px;
$special-grey:#cdcdcd;
$border-grey-2:#ebebeb;
$grey:#d3d3d3;
