.content-limiter {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (min-width: $tablet-width) {
  .content-limiter {
    box-sizing: border-box;
    width: 768px;
    margin: 0 auto;
    padding: 0 30px;
  }
}

@media (min-width: $desktop-width) {
  .content-limiter {
    box-sizing: border-box;
    width: 1220px;
    margin: 0 auto;
    padding: 0;
  }
}
