.main-promo {
  background-image:
    linear-gradient(rgba(102, 183, 56, 0.85) 60%, #ffffff 60%),
    image-set(url("../../images/index-background-mobile@1x.jpg") 1x,
    url("../../images/index-background-mobile@2x.jpg") 2x);
  background-color: #2e4d1c;
  background-repeat: no-repeat, no-repeat;
  background-size: 100% 100%, auto 320px;
  background-position: top center, top center;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: 27px;
}

@media (min-width: $tablet-width) {
  .main-promo {
    background-color: #ffffff;
    background-image: none;
    margin: 0;
    padding: 0;
    margin-bottom: -3px;
  }
}

@media (min-width: $desktop-width) {
  .main-promo {
    position: relative;
    padding-top: 0;
    padding-bottom: 52px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 50%, rgba(104, 183, 56, 0.85) 50%);
  }

  .main-promo::after {
    content: "";
    position: absolute;
    inset: auto 0 0 50%;
    height: 694px;
    background-image: image-set(url("../../images/desktop-cat-main-background@1x.jpg") 1x, url("../../images/desktop-cat-main-background@2x.jpg") 2x);
    background-size: cover;
    z-index: -2;
  }
}

@media (min-width: $tablet-width) {
  .main-promo__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }
}

@media (min-width: $desktop-width) {
  .main-promo__grid {
    display: grid;
    grid-template-columns: 416px auto;
    grid-template-rows: min-content min-content min-content;
    align-items: start;
    padding-left: 80px;
  }
}

.main-promo__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 25px;
  text-align: center;
  grid-area: 1 / 1 / 2 / 2;
}

@media (min-width: $tablet-width) {
  .main-promo__title {
    color: #000000;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    padding-left: 90px;
    padding-bottom: 40px;
    text-align: start;
  }
}

@media (min-width: $desktop-width) {
  .main-promo__title {
    color: #000000;
    text-align: start;
    box-sizing: border-box;
    grid-area: 1 / 1 / 2 / 2;
    margin: 81px 0 40px;
    padding: 0;
    min-height: 120px;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
  }
}

.main-promo__description {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  margin: 0;
  padding: 0;
  padding-bottom: 29px;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .main-promo__description {
    color: #000000;
    padding: 0;
    font-family: "Oswald", "Arial", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    margin-bottom: 21px;
    text-align: start;
    margin-left: 90px;
  }
}

@media (min-width: $desktop-width) {
  .main-promo__description {
    color: #000000;
    text-transform: uppercase;
    text-align: start;
    margin: 0 0 52px;
    padding: 0;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
  }
}

.main-promo__program-selection {
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  width: 280;
  height: fit-content;
  background-color: $basic-green;
  color: #ffffff;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding: 10px 64px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.main-promo__program-selection:hover {
  background-color: $basic-green-2;
}

.main-promo__program-selection:active {
  background-color: $basic-green-2;
  color: rgba(255, 255, 255, 0.3);
}

@media (min-width: $tablet-width) {
  .main-promo__program-selection {
    width: 242;
    height: fit-content;
    font-size: 20px;
    line-height: 26px;
    margin-left: 90px;
    grid-area: 3 / 1 / 4 / -1;
    margin-top: 29px;
    padding: 14px 24px 14px 26px;
    box-sizing: border-box;
  }
}

@media (min-width: $desktop-width) {
  .main-promo__program-selection {
    width: 242;
    height: fit-content;
    font-size: 20px;
    line-height: 26px;
    margin: 0 0 132px;
    grid-area: 3 / 1 / 4 / -1;
    padding: 14px 24px 14px 26px;
    box-sizing: border-box;
  }
}

@media (min-width: $tablet-width) {
  .main-promo__picture {
    grid-area: 3 / 1 / 4 / -1;
  }
}

@media (min-width: $desktop-width) {
  .main-promo__picture {
    grid-area: 1 / 2 / -1 / -1;
    margin-left: -49px;
  }
}
